<div class="container">
  <h3 align="center">list Provider</h3>

  <table border="1" align="center" class="table">
    <thead>
    <tr>
      <th scope="col" >Id</th>
      <th scope="col">Label</th>
      <th  scope="col">Picture</th>
      <th scope="col">Price</th>
      <th scope="col">Provider id</th>

      <th scope="col">Update</th>
      <th scope="col">Delete</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let a of article">
      <th scope="row" >{{a.id}}</th>
      <td>{{a.label}}</td>
      <td> <img style="width: 70px ; height: 70px" src="{{a.picture}}" alt="{{a.picture}}"></td>
      <td>{{a.price}}</td>
      <td>{{a.provider.name}}</td>

      <td class="">
        <button class="btn btn-warning"  ><i class="fa fa-edit"></i></button>
      </td>
      <td class="">
        <button class="btn btn-danger" (click)="deleteArticle(a.id)" ><i class="fa fa-trash"></i></button>
      </td>


    </tr>
    </tbody>
  </table>
</div>
